<div class="contenaire">
  <div class="row">
    <div class="col-4">
      <div class="contenaire">
        <form name="form" #form="ngForm">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title :</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="product.title" #title="ngModel" required
              minlength="3">

          </div>
          <dir *ngIf="title.touched && title.invalid">
            <div class="alert alert-danger" *ngIf="title.errors!['required']">Title is required</div>
            <div class="alert alert-danger" *ngIf="title.errors!['minlength']">min length 3</div>
          </dir>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Quantity :</label>
            <input type="number" class="form-control" name="quantity" [(ngModel)]="product.quantity" #quantity="ngModel"
              required min="0">
          </div>
          <div *ngIf="quantity.touched && quantity.invalid">
            <div class="alert alert-danger" *ngIf="quantity.errors!['required']">quantity is required</div>
            <div class="alert alert-danger" *ngIf="quantity.errors!['min']">min quantity 1</div>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price :</label>
            <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email :</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="product.email" #email="ngModel" required
              pattern="[a-zA-Z0-9]+@">
          </div>
          <div *ngIf="email.touched && email.invalid">
            <div class="alert alert-danger" *ngIf="email.errors!['required']">Email is require</div>
            <div class="alert alert-danger" *ngIf="email.errors!['pattern']">email invalid</div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="ajout()" [disabled]="form.invalid">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>